### Solution to the assignements related to student_data file

In [1]:
from astropy import units as u
from astropy.coordinates import SkyCoord
from astropy.table import Table
%matplotlib inline
import matplotlib.pyplot as plt
from astroquery.ned import Ned
import astropy.units as u
import numpy as np
import seaborn as sns
plt.style.use('seaborn-white')
import pandas as pd

In [2]:
sns.set_style("white")
sns.set(font_scale=2.5)
sns.set_style("ticks", {"xtick.major.size":7, "ytick.major.size":7,
						"xtick.minor.size":5,"ytick.minor.size":5})

In [23]:
pd.read_csv?

In [30]:
student_data = pd.read_csv('student_data.txt', delimiter='|', sep='|/,',skiprows=4)

In [31]:
student_data

,first_name,last_name,city,supervisors,status,club
0,Cara,Rogers,New Britain,Tennant/Room 101,Sophomore,"Chess, Improvisation, Rugby, Debate"
1,Ori,Mejia,Lakeland,NaN,Senior,Debate
2,Leandra,Stevens,Rockford,NaN,Freshman,NaN
3,Danielle,Moody,Oro Valley,"Baker/Room 315, Eccleston/Room 205",Sophomore,Improvisation
4,Josiah,Barber,Rancho Cordova,NaN,Sophomore,NaN
5,Wing,Gordon,Reedsport,Baker/Room 315,Freshman,"Rugby, Chess, Football"
6,Ryder,Schneider,Boston,Baker/Room 315,Freshman,"Debate, Improvisation"
7,Eagan,Hogan,Wichita Falls,NaN,Senior,"Football, Improvisation, Debate, Chess"
8,Libby,Osborn,Henderson,"Baker/Room 315, Tennant/Room 101",Sophomore,NaN
9,Leroy,Kent,Fort Dodge,Eccleston/Room 205,Junior,NaN
10,Sandra,Carrillo,Two Rivers,NaN,Junior,Improvisation
11,Raya,Thompson,Wilmington,NaN,Senior,NaN
12,Jael,Craig,Forest Lake,Baker/Room 315,Junior,"Debate, Chess"
13,Joshua,Forbes,Mentor,Baker/Room 315,Junior,"Debate, Rugby, Chess"
14,Eve,Hinton,Ruston,Baker/Room 315,Junior,NaN
15,Porter,Mayer,Peekskill,NaN,Sophomore,"Football, Rugby"
16,Brynne,Barry,Attleboro,"Smith/Room 210, Eccleston/Room 205",Senior,NaN
17,Mari,Ballard,St. Marys,NaN,Sophomore,NaN
18,Lev,Richards,Fairfield,Smith/Room 210,Freshman,NaN
19,Benedict,Atkinson,Shamokin,"Baker/Room 315, Tennant/Room 101",Freshman,NaN
20,Kelly,Navarro,Eureka,"Eccleston/Room 205, Tennant/Room 101",Sophomore,Rugby
21,Hope,Finch,Easthampton,NaN,Junior,"Improvisation, Rugby, Debate, Football"
22,Magee,Petersen,College Park,"Eccleston/Room 205, Tennant/Room 101",Junior,Chess
23,Marsden,Hoffman,Birmingham,"Tennant/Room 101, Smith/Room 210",Senior,Football
24,Shea,Bartlett,Downey,NaN,Junior,Debate
25,Chancellor,Hines,Valdosta,NaN,Junior,"Debate, Chess, Football"
26,Tamara,Stewart,Jeffersonville,NaN,Junior,NaN
27,Wade,Powers,Richland,"Smith/Room 210, Baker/Room 315",Sophomore,"Improvisation, Rugby, Debate"
28,Ivy,Trujillo,Lewiston,"Baker/Room 315, Tennant/Room 101",Sophomore,"Improvisation, Chess, Rugby, Debate"
29,Ethan,Garner,Fresno,NaN,Sophomore,"Football, Rugby, Debate"
...,...,...,...,...,...,...
70,Stuart,Little,Seal Beach,NaN,Freshman,"Chess, Football"
71,Ruby,Dodson,Fairfax,NaN,Freshman,"Football, Debate, Rugby"
72,Gisela,Howe,Lincoln,NaN,Junior,"Chess, Football, Improvisation, Rugby"
73,Karleigh,Case,Indio,"Tennant/Room 101, Baker/Room 315",Freshman,"Rugby, Chess"
74,Alfreda,Hanson,Perth Amboy,Smith/Room 210,Junior,"Football, Debate"
75,Iola,Gallegos,Rancho Cucamonga,"Smith/Room 210, Tennant/Room 101",Junior,"Rugby, Debate, Chess"
76,Eagan,Reese,Janesville,"Tennant/Room 101, Eccleston/Room 205",Freshman,NaN
77,Gage,Stevenson,Hackensack,NaN,Junior,"Improvisation, Chess"
78,Kasper,Stephenson,Oil City,"Eccleston/Room 205, Smith/Room 210",Senior,"Rugby, Chess"
79,Xantha,Michael,Ansonia,NaN,Sophomore,NaN
80,Hedley,Cardenas,West Warwick,NaN,Senior,"Debate, Chess, Improvisation"
81,Hedley,Meadows,Fairbanks,Smith/Room 210,Junior,NaN
82,Nerea,Whitney,Miami Beach,Baker/Room 315,Junior,"Improvisation, Football"
83,Gabriel,Clarke,North Adams,Eccleston/Room 205,Sophomore,"Debate, Improvisation, Rugby, Football"
84,Jaden,Coleman,Washington,NaN,Senior,"Rugby, Debate, Football"
85,Orson,Morin,Klamath Falls,Baker/Room 315,Sophomore,NaN
86,Maya,Mccullough,Hartford,Tennant/Room 101,Freshman,"Rugby, Chess"
87,Elvis,Ballard,Cambridge,"Eccleston/Room 205, Baker/Room 315",Junior,"Debate, Chess, Football"
88,Josephine,Wilkinson,Batavia,"Tennant/Room 101, Eccleston/Room 205",Senior,"Football, Improvisation, Rugby"
89,Elmo,Webb,South Portland,Tennant/Room 101,Senior,NaN
90,Simone,Velez,Martinsburg,"Baker/Room 315, Smith/Room 210",Junior,"Chess, Rugby"
91,Shaeleigh,Mercado,Las Vegas,"Baker/Room 315, Smith/Room 210",Freshman,"Rugby, Chess, Football, Debate"
92,Haley,Cash,Chino Hills,"Smith/Room 210, Tennant/Room 101",Sophomore,NaN
93,Megan,Bates,Fort Wayne,NaN,Sophomore,Rugby
94,Ariel,Hopkins,Meriden,NaN,Senior,"Football, Debate, Improvisation"
95,Barclay,Herman,Portsmouth,Eccleston/Room 205,Junior,"Rugby, Debate, Improvisation, Football"
96,Ira,Rowe,Valparaiso,"Baker/Room 315, Smith/Room 210",Senior,Chess
97,Amity,Quinn,Joliet,"Smith/Room 210, Tennant/Room 101",Sophomore,"Football, Rugby, Chess, Improvisation"
98,Dustin,Forbes,Gadsden,NaN,Junior,"Debate, Chess, Football, Rugby"
99,Holmes,Downs,Denver,"Tennant/Room 101, Baker/Room 315",Junior,"Improvisation, Chess, Debate"

# List of students from Attleboro

In [60]:
print(student_data['first_name'] [student_data['city']=='Attleboro'] )

16    Brynne
44    Jescie
Name: first_name, dtype: object

# List of students supervised by Baker

In [61]:
print(student_data['first_name'] [student_data['supervisors']=='Baker'] )

Series([], Name: first_name, dtype: object)

# List of clubs

In [382]:
club = pd.DataFrame(student_data['club'].str.split(',',expand=True))
series_club = club.iloc[0::]

student_club = club.merge(student_data['first_name'].to_frame(),left_index=True, right_index=True)

In [160]:
for i in range(4):
    club_list = club[i].tolist()
    a = list(set(club_list))
b = list(set(a))
cleanedList = [x for x in b if str(x) !='None']
print(cleanedList)

more_cleanedList = [x.strip(' ') for x in cleanedList]
print(more_cleanedList)

[' Rugby', ' Improvisation', ' Chess', ' Debate', ' Football']
['Rugby', 'Improvisation', 'Chess', 'Debate', 'Football']

# Students and their clubs

In [383]:
student_club

                0               1               2               3  first_name
0           Chess   Improvisation           Rugby          Debate        Cara
1          Debate            None            None            None         Ori
2             NaN            None            None            None     Leandra
3   Improvisation            None            None            None    Danielle
4             NaN            None            None            None      Josiah
5           Rugby           Chess        Football            None        Wing
6          Debate   Improvisation            None            None       Ryder
7        Football   Improvisation          Debate           Chess       Eagan
8             NaN            None            None            None       Libby
9             NaN            None            None            None       Leroy
10  Improvisation            None            None            None      Sandra
11            NaN            None            None            None        Raya
12         Debate           Chess            None            None        Jael
13         Debate           Rugby           Chess            None      Joshua
14            NaN            None            None            None         Eve
15       Football           Rugby            None            None      Porter
16            NaN            None            None            None      Brynne
17            NaN            None            None            None        Mari
18            NaN            None            None            None         Lev
19            NaN            None            None            None    Benedict
20          Rugby            None            None            None       Kelly
21  Improvisation           Rugby          Debate        Football        Hope
22          Chess            None            None            None       Magee
23       Football            None            None            None     Marsden
24         Debate            None            None            None        Shea
25         Debate           Chess        Football            None  Chancellor
26            NaN            None            None            None      Tamara
27  Improvisation           Rugby          Debate            None        Wade
28  Improvisation           Chess           Rugby          Debate         Ivy
29       Football           Rugby          Debate            None       Ethan
..            ...             ...             ...             ...         ...
70          Chess        Football            None            None      Stuart
71       Football          Debate           Rugby            None        Ruby
72          Chess        Football   Improvisation           Rugby      Gisela
73          Rugby           Chess            None            None    Karleigh
74       Football          Debate            None            None     Alfreda
75          Rugby          Debate           Chess            None        Iola
76            NaN            None            None            None       Eagan
77  Improvisation           Chess            None            None        Gage
78          Rugby           Chess            None            None      Kasper
79            NaN            None            None            None      Xantha
80         Debate           Chess   Improvisation            None      Hedley
81            NaN            None            None            None      Hedley
82  Improvisation        Football            None            None       Nerea
83         Debate   Improvisation           Rugby        Football     Gabriel
84          Rugby          Debate        Football            None       Jaden
85            NaN            None            None            None       Orson
86          Rugby           Chess            None            None        Maya
87         Debate           Chess        Football            None       Elvis
88       Football   Improvisation           Rugby            None   Josephine
89            NaN            None            None            None        Elmo
90          Chess           Rugby            None            None      Simone
91          Rugby           Chess        Football          Debate   Shaeleigh
92            NaN            None            None            None       Haley
93          Rugby            None            None            None       Megan
94       Football          Debate   Improvisation            None       Ariel
95          Rugby          Debate   Improvisation        Football     Barclay
96          Chess            None            None            None         Ira
97       Football           Rugby           Chess   Improvisation       Amity
98         Debate           Chess        Football           Rugby      Dustin
99  Improvisation           Chess          Debate            None      Holmes

[100 rows x 5 columns]

# Make table of members for each club

In [449]:
#rug = student_data['club'][student_data['club']=='Rugby']
club_data = {'Rugby': [], 
             'Improvisation': [],
             'Chess': [], 
             'Debate': [],
             'Football': []}
df = pd.DataFrame(club_data, columns = ['Rugby','Improv','Chess','Debate','Football'])

In [451]:
Rugby = student_club['first_name'] [ (student_club[0]=='Rugby') | (student_club[1]==' Rugby') | 
                                      (student_club[2]==' Rugby') | (student_club[3]==' Rugby') ]
Improvisation = student_club['first_name'] [ (student_club[0]=='Improvisation') | (student_club[1]==' Improvisation') | 
                                      (student_club[2]==' Improvisation') | (student_club[3]==' Improvisation') ]
Chess = student_club['first_name'] [ (student_club[0]=='Chess') | (student_club[1]==' Chess') | 
                                      (student_club[2]==' Chess') | (student_club[3]==' Chess') ]
Debate = student_club['first_name'] [ (student_club[0]=='Debate') | (student_club[1]==' Debate') | 
                                      (student_club[2]==' Debate') | (student_club[3]==' Debate') ]
Football = student_club['first_name'] [ (student_club[0]=='Football') | (student_club[1]==' Football') | 
                                      (student_club[2]==' Football') | (student_club[3]==' Football') ]

club_data['Rugby'].append(Rugby)
club_data['Improvisation'].append(Improvisation)
club_data['Chess'].append(Chess)
club_data['Debate'].append(Debate)
club_data['Football'].append(Football)

In [460]:
club_data

{'Chess': [0           Cara
  5           Wing
  7          Eagan
  12          Jael
  13        Joshua
  22         Magee
  25    Chancellor
  28           Ivy
  33     Aphrodite
  34        Mariko
  39          Suki
  41        Galena
  42     Demetrius
  46       Timothy
  47      Germaine
  52           Ann
  60         Amber
  61         Fritz
  63         Noble
  65         Amaya
  70        Stuart
  72        Gisela
  73      Karleigh
  75          Iola
  77          Gage
  78        Kasper
  80        Hedley
  86          Maya
  87         Elvis
  90        Simone
  91     Shaeleigh
  96           Ira
  97         Amity
  98        Dustin
  99        Holmes
  Name: first_name, dtype: object], 'Debate': [0           Cara
  1            Ori
  6          Ryder
  7          Eagan
  12          Jael
  13        Joshua
  21          Hope
  24          Shea
  25    Chancellor
  27          Wade
  28           Ivy
  29         Ethan
  30         Damon
  34        Mariko
  35       Kirsten
  36          Oleg
  38      Geoffrey
  44        Jescie
  47      Germaine
  49         Hilel
  52           Ann
  55        Philip
  58          Inga
  66          Nash
  71          Ruby
  74       Alfreda
  75          Iola
  80        Hedley
  83       Gabriel
  84         Jaden
  87         Elvis
  91     Shaeleigh
  94         Ariel
  95       Barclay
  98        Dustin
  99        Holmes
  Name: first_name, dtype: object], 'Football': [5           Wing
  7          Eagan
  15        Porter
  21          Hope
  23       Marsden
  25    Chancellor
  29         Ethan
  30         Damon
  34        Mariko
  38      Geoffrey
  41        Galena
  42     Demetrius
  44        Jescie
  47      Germaine
  53        Jasper
  57        Austin
  58          Inga
  60         Amber
  65         Amaya
  69        Rachel
  70        Stuart
  71          Ruby
  72        Gisela
  74       Alfreda
  82         Nerea
  83       Gabriel
  84         Jaden
  87         Elvis
  88     Josephine
  91     Shaeleigh
  94         Ariel
  95       Barclay
  97         Amity
  98        Dustin
  Name: first_name, dtype: object], 'Improvisation': [0          Cara
  3      Danielle
  6         Ryder
  7         Eagan
  10       Sandra
  21         Hope
  27         Wade
  28          Ivy
  30        Damon
  33    Aphrodite
  38     Geoffrey
  40        Adara
  41       Galena
  42    Demetrius
  46      Timothy
  47     Germaine
  49        Hilel
  52          Ann
  56       Reagan
  57       Austin
  60        Amber
  61        Fritz
  64     Florence
  65        Amaya
  66         Nash
  69       Rachel
  72       Gisela
  77         Gage
  80       Hedley
  82        Nerea
  83      Gabriel
  88    Josephine
  94        Ariel
  95      Barclay
  97        Amity
  99       Holmes
  Name: first_name, dtype: object], 'Rugby': [0          Cara
  5          Wing
  13       Joshua
  15       Porter
  20        Kelly
  21         Hope
  27         Wade
  28          Ivy
  29        Ethan
  30        Damon
  31        Lacey
  33    Aphrodite
  34       Mariko
  38     Geoffrey
  41       Galena
  42    Demetrius
  43       Hollee
  44       Jescie
  46      Timothy
  49        Hilel
  51         Ruth
  55       Philip
  58         Inga
  65        Amaya
  69       Rachel
  71         Ruby
  72       Gisela
  73     Karleigh
  75         Iola
  78       Kasper
  83      Gabriel
  84        Jaden
  86         Maya
  88    Josephine
  90       Simone
  91    Shaeleigh
  93        Megan
  95      Barclay
  97        Amity
  98       Dustin
  Name: first_name, dtype: object]}